<block-ui>
  <mat-card class="login-container">
    <mat-card-header style="text-align: center;justify-content: center;">
      <mat-card-title>महिला बचत - गट</mat-card-title>
    </mat-card-header>

    <mat-card-content style="padding: 10px;">
      <form class="example-form" [formGroup]="loginFormGroup">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email Id" formControlName="email" />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Password"
            type="password"
            formControlName="password"
          />
        </mat-form-field>
        <mat-card-actions>
          <button
            mat-raised-button
            class="button-margin"
            color="primary"
            (click)="onFormSubmit()"
            [disabled]="!loginFormGroup.valid"
          >
            Login
          </button>
          <button
            mat-raised-button
            class="button-margin"
            color="primary"
            (click)="goToSignup()"
            [disabled]="!loginFormGroup.valid"
          >
            Sign Up
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</block-ui>
