.style-com {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  height: 100%;
  position: relative;
}

.login-container {
  left: 10%;
  right: 10%;
  position: absolute;
  height: auto;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.button-margin {
  margin: 0px 10px 0px 0px;
}
