/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/pink-bluegrey.css";
html,
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
mat-card {
  margin: 25px;
  overflow: auto;
  height: calc(100% - 140px);
}

#backImg {
  display: block;
}

#backImg::after {
  content: "";
  background-image: url("./assets/images/1080p.jpg");
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.width-100 {
  width: 100%;
}

app-navbar {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  padding: 8px 16px;
  background: #e91e63;
  color: white;
}
