<block-ui>
  <mat-card class="signup-page-container">
    <mat-card-header style="text-align: center;justify-content: center;">
      <mat-card-title>Signup Page</mat-card-title>
    </mat-card-header>
    <mat-card-content style="padding: 10px;">
      <form class="example-form" [formGroup]="signupFormGroup">
        <mat-form-field class="width-100">
          <input
            matInput
            placeholder="First Name"
            formControlName="firstName"
          />
        </mat-form-field>
        <mat-form-field class="width-100">
          <input matInput placeholder="Last Name" formControlName="lastName" />
        </mat-form-field>
        <mat-form-field class="width-100">
          <input matInput placeholder="Email Id" formControlName="email" />
        </mat-form-field>
        <mat-form-field class="width-100">
          <input
            matInput
            type="password"
            placeholder="Password"
            formControlName="password"
          />
        </mat-form-field>
        <mat-form-field class="width-100">
          <input
            matInput
            type="password"
            placeholder="Confirm Password"
            formControlName="confirmPassword"
          />
        </mat-form-field>
        <mat-card-actions>
          <button
            mat-raised-button
            class="button-margin"
            color="primary"
            (click)="onFormSubmit()"
            [disabled]="!signupFormGroup.valid"
          >
            Signup
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</block-ui>
